:root {
  --branco: #eaeaea;
  --cinza:  #444;

  /* https://flatuicolors.com/palette/us */
  --city-lights:     #dfe6e9;
  --soothing-breeze: #b2bec3;
  --american-river:  #636e72;
  --dracula-orchid:  #2d3436;
}