footer {
  background-color: var(--branco);

  justify-content: center;
  align-items: flex-end;
  display: flex;

  box-sizing: border-box;
  padding: 32px;

  min-height: 128px;
}

footer > small {
  font-family: 'Work Sans';
  font-size: 90%;

  text-align: center;
}